header {
    padding: 0 50px 0 50px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    background: #4d6bdd;
    box-shadow: 0 8px 20px rgb(77 107 221 / 20%);
    border-radius: 8px;
}

header .titulo {
    color: white;
    padding-left: 120px;
    font-size: 20px;
}

main {
    padding: 0 200px 0 200px;
    color: #15284b;
}

img {
    max-width: 75px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 60px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

nav li a:hover {
    text-decoration:underline;
    text-transform: uppercase;
    color: white;
}

form {
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.botones {
    max-width: 100px;
}